.DS_Store
.env
.env.*
!.env.example
.mise.local.toml
.python-version.local
.venv/
.coverage
coverage.xml
/coverage/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.egg-info/
*.py[cod]
build/
dist/
htmlcov/
secrets/
*.pem
*.key
